.body{
    font-family: "Arial";
    background-color: #f3f3f3;
    margin: 0;
}

.wrapper{
    background-color: #ffffff;
    margin: auto;
}

.logo{
    display: flex;
    align-items: center;
   
}

.logo b{
    font-size: 24px;
    line-height: 7px;
    text-transform: uppercase;
    color: #39930d;
    font-weight: bold;
    flex-direction: column;
}
.pictures{
    display: flex;
    column-gap: 10px;
}
.nav {
    font-size: 14px;
    line-height: 30px;
    text-decoration: underline;
    text-transform: uppercase;
    color: #343434;
}
.content h1{
    font-size: 24px;
    line-height: 7px;
    color: #39930d;
    font-weight: bold;
}
.content p{
    font-size: 14px;
    line-height: 21px;
    color: #343434;
}
.footer{
    background-color: #39930d;
}
.footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}