body {
    margin: 0;
    font-family: "Arial";
    background-color: #f3f3f3;
    background-size: auto;
    display: block;
}

.wrapper {
    margin: auto;
    padding: 0 16px;
    max-width: 960px;
    background-color: #fff;
    box-sizing: border-box
}

.wrapper h2 {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 15px 0;
    display: flex;
    align-items: center;
}

.logo h2 {
    font-size: 14px;
    color: #5a5a5a;
}

.logo b {
    font-size: 24px;
    text-transform: uppercase;
    color: #39930d;
    font-weight: bold;
    flex-direction: column;
}

.time {
    position: relative;
}

.time::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    background-image: url(img/schedule.png), no repeat;
}
.info {
    font-size: 14px;
    color: #5a5a5a;
    font-weight: bold;
    font-family: "Arial";
    padding: 29px 0;
}


.info a {
    font-size: 14px;
    color: #5a5a5a;
    font-weight: bold;
    font-family: "Arial";
    text-align: right;
}


.images {
    display: flex;
    column-gap: 10px;
    

}

.main {
    padding-bottom: 31px;
    display: flex;
    justify-content: space-around;
    column-gap: 18px;
    margin-top: 31px;
}

.link {
    text-transform: uppercase;
}

.link ul {
    list-style: none;
    color: #343434;
    font-size: 14px;
    line-height: 30px;
    padding-left: 40px;
  
}

.link a {
    color: #343434;
}

.link p {
    min-width: 300px;
    background-color: #39930d;
    color: #fff;
    font-weight: bold;
    margin: auto;
    padding: 20px 40px;
}

.main-info h1 {
    font-size: 24px;
    color: #39930d;
    font-weight: bold;
    margin: auto;
}

.main-info p {
    font-size: 14px;
    line-height: 21px;
    color: #343434;
}

footer {
    background-color: #39930d;
    margin: 0;
    padding: 8px 40px;
    display: flex;
    align-items: center;
    column-gap:900px;
}

.footer ul {
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
    padding: 0;
}

.footer img {
    margin: auto;
    padding: 10px;
}

.footer p {
    color: #ffffff;
    margin: auto;
}

.footer li {
    font-size: 14px;
    line-height: 30px;
    text-decoration: underline;
    text-transform: uppercase;
    color: #343434;
    list-style: none;
}